$color--black--light: #222;
$color--blue: #39A5FF;
$color--blue--hover: #1E8EED;
$color--blue--light: #84cfff;
$color--blue--info: #e1f5ff;
$color--blue-white: #EBF6FF;
$color--gray: #bbb;
$color--gray--dark: #333;
$color--gray--darker: #888;
$color--gray--medium: #999;
$color--gray--light: #DDD;
$color--gray--light--low-opacity: rgba(221, 221, 221, 0.2);
$color--gray--medium--medium-opacity: rgba(127, 127, 127, 0.5);
$color--gray--medium-light-overlapped: #efefef;
$color--gray--bright: #F4F4F4;
$color--green: #66C004;
$color--green--checked: #6FC411;
$color--purple: #9F7DF7;
$color--red: #F03926;
$color--red--light: #f6e2dc;
$color--yellow: #F5A623;
$color--white: #FFFFFF;

$color-quickline-red: #d40037;
$color-quickline-white: #FFF;
$color-quickline-light-gray: #ededed;
$color-quickline-medium-gray: #a5a5a5;
$color-quickline-dark-gray: #242424;
$color-quickline-black: #000;


