@import "./colors-definitions.scss";

$color--border: $color--gray--light;
$color--border--light: $color--gray--bright;
$color--border--invalid: $color--red;
$color--border--active: $color--blue;
$color--background--page: $color--gray--bright;
$color--background--active: $color--blue;
$color--background--active--hover: $color--blue--hover;
$color--background--info: $color--blue--info;
$color--background--active-secondary: $color--blue--light;
$color--background--input: $color--white;
$color--background--row: $color--white;
$color--background--selector: $color--white;
$color--background--selector-active: $color--gray--dark;
$color--background--container: $color-quickline-light-gray;
$color--background--navigation: $color--gray;
$color--background--element: $color--gray--bright;
$color--background--element--hover: $color--blue-white;
$color--background--hover: $color--gray--medium;
$color--background--hover-light: $color--gray;
$color--background--inactive: $color--gray;
$color--background--inactive-lighter: $color--gray--light;
$color--background--today: $color--gray--light--low-opacity;
$color--background--today-overlapped: $color--gray--medium-light-overlapped;
$color--background--time-line: $color--red;
$color--background--header: $color-quickline-red;
$color--background--overlay: $color--gray--medium--medium-opacity;
$color--background--confirm: $color--green;
$color--background--invalid: $color--red--light;
$color--background--canceled: $color--red--light;
$color--checkbox-active: $color--blue;
$color--shadow: $color--gray--medium;
$color--text--active: $color--black--light;
$color--text--clickable: $color--blue;
$color--text--button: $color-quickline-white;
$color--text--top-navigation: $color-quickline-white;
$color--text--side-navigation: $color-quickline-black;
$color--text--secondary: $color--gray--medium;
$color--text--descriptive: $color--gray--medium;
$color--text--menu: $color--gray--dark;
$color--text--canceled: $color--red;
$color--text--inactive: $color--gray--medium;
$color--text--normal: $color--black--light;
$color--text--on-active-element: $color--white;
$color--text--remove: $color--red;
$color--text--invalid: $color--red;
$color--text--warning: $color--red;
$color--text--confirm: $color--green--checked;
$color--button--ok: $color-quickline-red;
$color--list-element--active: $color--blue;
