@import "../../../../../assets/scss/colors";
@import "../../../../../assets/scss/font";

.form {
  &--input {
    &--label {
      @include quickline-fliesstext-3-desktop;
      margin-bottom: 5px;
    }

    &--description {
      @include quickline-fliesstext-3-desktop;
      color: $color--text--secondary;
    }

    &--element {
      @include quickline-fliesstext-3-desktop;

      height: 40px;
      border: 1px solid $color--border;
      border-radius: 4px;
      background-color: $color--background--element;
      padding: 0 0 0 15px;
      color: $color--text--descriptive;
      margin-bottom: 5px;

      &--top {
        width: 100%;
      }

      &--inline {
        display: inline-block;
        width: unset;
      }
    }

    &--element:focus,
    &--element:active {
      color: $color--text--normal;
    }

    &--element:invalid {
      border: 2px solid $color--border--invalid;
      background-color: $color--background--invalid;
      color: $color--text--invalid;
    }
  }
}
