<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      Testpage
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <app-shared-table
        [columns]="tableColumns"
        [data]="tableData"
      ></app-shared-table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <app-shared-form
        [formSections]="formSections"
        [formComponentEmitters]="[formDataEmitter]"
        [formData]="{xxx:'yyyy'}"
        (formDataEmitter)="formDataEmitted($event)"
      ></app-shared-form>
    </div>
  </div>
</div>
